[Unit]
Description=Usage Monitor: Discord

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/usagemonitor.py
Restart=always

[Install]
WantedBy=multi-user.target